
<div class='mt-3 d-flex align-items-center flex-column'>
  <h1>Add Ingredients</h1>
   <%= form_with model: @recipe_food, url: recipe_recipe_foods_path   do |form| %>

    <div class="mb-3">
     <%= form.select :food_id, (@foods.map{|food| [food.name, food.id]}) %>
   </div>
    <div class="mb-3">
        <%= form.text_field :quantity, placeholder: "Enter ingredient quantity" %>
     </div>
    <div class="mb-3">
      <%= form.submit "Add New Food", class:"bg-red-500 px-4 py-2 font-semibold text-white inline-flex items-center space-x-2 rounded" %>
     </div>
  <% end %>
 </div>